main {
}
img {
  object-fit:cover;
}
:root {
  /* --bg:#000000; */
  --bg:url('../public/images/bgs/woods.jpg') center center fixed no-repeat;
  --bgColor:rgba(0,0,0,0.6);
  --color:white;
  --topMenuSize:50px;
  --hoverColor:rgba(255,255,255,0.1);
  --overlayColor:rgba(0,0,0,0.65);
  --otherColor:rgb(43, 43, 43);
  --otherotherColor:#bababa;
  --green:#57a857;
  --blue:#5555b9;
  --red:#d25151;
  --selectionMenu:33.333vw;
}
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background:var(--bg);
  background-size:cover;
  color:var(--color);
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}
.bg {
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  background:var(--bgColor);
  background-size:cover;
  margin:0;
  padding:0;
}
.selectionMenu {
  display:flex;
}
.selectionMenu div {
  display:inline-block;
  background:var(--otherColor);
  flex:var(--selectionMenu);
  height:calc(var(--selectionMenu) - 40px);
  border-radius:100%;
  text-align:center;
  line-height:calc(var(--selectionMenu) - 40px);
  margin:20px;
  font-size:40px;
  transition:0.1s linear;
}
.selectionMenu div:hover {
  transform:scale(1.1);
  box-shadow:0px 0px 10px 3px var(--hoverColor);
  cursor:pointer;
}
.tab {
  display:none;
}
.tab > h1 {
  font-size:60px;
  text-align:center;
}
.tab > h4 {
  text-align:center;
}
.show {
  display:block;
}
.character {
  display:flex;
  margin:0;
  padding:0;
}
.character > div {
  flex:50vw;
  /* padding:20px; */
  height:100vh;
  margin:0;
}
.character > div > img {
  width:100%;
  height:100%;
  object-fit:cover;
  margin:0;
  padding:0;
  opacity:0.5;
}
/* Character */
#chName {
  font-size:80px;
  height:100px;
  
  text-align:center;
}
#chMains {
  display:flex;
}
#chMains > div {
  flex:50%;
  text-align:center;
  height:60px;
  line-height:60px;
}
#chLvl {
  font-size:40px;
}
#chExp {
  font-size:25px;
}
.stat {
  display:flex;
  width:calc(100% - 60px);
  margin:20px;
  background:var(--otherColor);
  border-radius:10px;
  font-size:25px;
  padding:10px;
}
.stat > div {
  flex:50%;
  text-align:center;
}
.statType {
  color:var(--color);
  text-transform: capitalize;
}
.statValue {
  color:var(--otherotherColor);
}
/* Game */
.gameSpace {
  display:flex;
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  overflow:hidden;
}
.gameSpace > div {
  flex:33.333vw;
  margin:0;
  padding:0;
  position:relative;
}
.gameSpace > div > img {
  width:100%;
  height:100%;
  object-fit:cover;
  margin:0;
  padding:0;
  opacity:1;
  border:none;
  outline:none;
  filter: brightness(75%);
  z-index:1;
}

.actions {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  z-index:2;
}
.actions #use {
  width:calc(100% - 40px);
  margin:20px;
  padding:0px 20px;
  height:40px;
  border-radius:40px;
  font-size:25px;
  background:var(--red);
  color:var(--color);
  border:0;
  transition:0.2s linear;
  position:absolute;
  bottom:0;
}
.actions #use:hover {
  transform:scale(1.1);
  box-shadow:0px 0px 10px 3px var(--hoverColor);
  cursor:pointer;
}
.hpBar {
  width:100%;
  height:20px;
  background:var(--otherColor);
  border-radius:10px;
  margin:0;
  padding:0;
  position:absolute;
  bottom:0;
}
.mpBar {
  width:100%;
  height:20px;
  background:var(--otherColor);
  border-radius:10px;
  margin:0;
  padding:0;
  position:absolute;
  bottom:25px;
}
#playerMp {
  width:100%;
  height:100%;
  background:var(--blue);
  border-radius:10px;
  margin:0;
  padding:0;
}
#playerHp,#enemyHp {
  width:100%;
  height:100%;
  background:var(--green);
  border-radius:10px;
  margin:0;
  padding:0;
}
#actionsList {
  height:calc(100% - 120px);
}
#actionsList button {
  width:calc(100% - 40px);
  margin:20px;
  padding:0px 20px;
  height:40px;
  font-size:25px;
  background:var(--bgColor);
  color:var(--color);
  border:0;
  transition:0.2s linear;
}
#actionsList button:hover {
  transform:scale(1.1);
  box-shadow:0px 0px 10px 3px var(--hoverColor);
  cursor:pointer;
}
#actionsList .selected {
  background:var(--otherotherColor) !important;
}
.question {
  text-align:center;
  justify-content:center;
}
#question {
  font-size:40px;
}
.inputAnswer {
  display:flex;
  font-size:25px;
}
.inputAnswer > input {
  flex:calc(80% - 86px);
  margin:20px;
  padding:5px 20px;
  border-radius:50px;
  height:40px;
  background:var(--otherColor);
  color:var(--color);
  border:3px solid transparent;
  outline:none;
  transition:0.2s linear;
}
.inputAnswer > input:focus {
  border:3px solid var(--color);
}
.inputAnswer > button {
  flex:calc(20% - 40px);
  margin:20px;
  background:var(--color);
  color:var(--otherColor);
  border-radius:50px;
  border:none;
  transition:0.2s linear;
}
.inputAnswer > button:hover {
  cursor:pointer;
  background:var(--otherColor);
  color:var(--color);
}
.slash {
  position: absolute;
  width: 100vw;
  height: 2px;
  background: transparent;
  opacity: 0;
  transition: all 0.7s ease;
  z-index: 2;
}

.slash svg {
  width: 100%;
  height: 2px;
  filter: drop-shadow(0 0 15px);
}
.settings {
  text-align:center;
  justify-content:center;
}

.backBtn {
  width:calc(100% - 40px);
  margin:20px;
  padding:0px 20px;
  height:40px;
  border-radius:40px;
  font-size:25px;
  background:var(--blue);
  color:var(--color);
  border:0;
  transition:0.2s linear;
}
.backBtn:hover {
  transform:scale(1.1);
  box-shadow:0px 0px 10px 3px var(--hoverColor);
  cursor:pointer;
}
.wrong {
  width:100vw;
  height:calc(100vh - 150px);
  background:red;
  opacity:0.3;
  color:var(--color);
  font-size:30px;
  text-align:center;
  justify-content:center;
  padding-top:150px;
}
.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex-grow: 1;
  height: 1px;
  margin: 0 20px;
  background-color: var(--color);
}
.line-text {
  color:var(--color);
  margin: 0 10px;
  white-space: nowrap;
}



#snackbar {
  visibility: hidden;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  background-color: var(--overlayColor);
  color: var(--color);
  text-align: center;
  border-radius: 2px;
  padding: 10px 16px;
  position: fixed;
  z-index: 100000;
  bottom: 30px;
  font-size: 17px;
  backdrop-filter: blur(10px);
}

#snackbar.showed {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* Mobile */
@media (max-width: 768px) {
  .bg {
    width: 100%;
    height: 100%;
  }
  .selectionMenu div {
    font-size:20px;
  }
  .gameSpace {
    flex-direction:column;
  }
  .gameSpace {
    height:auto;
  }
}
